@import "tailwindcss";

@theme {
  --font-heading: "Space Grotesk", "sans-serif";
  --font-sans: "Inter", "sans-serif";

  --color-grey: #848383;
  --color-dark: #02010a;
  --color-accent: #986deb;
}
